<section>
  <h1>All Merchants:</h1>
  <p>
    <ul class="merchants">
      <% @users.each do |user| %>
      <%= link_to(user.username, user_path(user.id), alt: 'link to') %>
      <li>
        <% user.products.each do |product| %>
        <ul>
          <li>
            <%=image_tag product.photo_url unless product.photo_url.blank?%>
          </li>
          <li>
            <%= link_to product.name, product_path(product) %>
          </li>
          <li>
            <%= format_price(product.price) %>
          </li>
          <li>
            <%= product.description %>
          </li>
        </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

</section>
