<section>
  <h3>Your Shopping Cart</h3>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <!-- if there is no order id existing then puts "Your cart is empty. Keep shopping! else then display the items such as below" -->
      <!-- We think the product should be replaced by order_items but we don't know the full logic -->
      <% @order.products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product.id) %></td>
          <td><%= product.description %></td>
          <td><%= format_price(product.price) %></td>
          <td><%= product.stock%></td>
          <td><%= product.sub_total%></td>
          <td><%= link_to "Edit", edit_product_path(product.id)%></td>
          <td><%= link_to "Remove", edit_product_path(product.id)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
