<section>
  <h3>Categories</h3>
  <ul>
    <% @categories.each do |category, products| %>
    <li>
      <h4><%= category.name%></h4>
      <ul>
        <% products.each do |product| %>
        <%= product.product.name %>
        <%= product.price %>
        <%= product.description %>
        <%= product.stock %>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</section>
