
<div class="top-margin">
  <h3>Products Offered</h3>

  <% Product.by_pet_type.each do |pet_type, products| %>
  <h4><strong> <%= pet_type %> </strong></h4>

  <% products.each do |product| %>
  <div class="container-products">
    <div>
      <%=image_tag(product.photo_url) unless product.photo_url.blank?%>
      <p><strong><%= link_to(product.name, product_path(product)) %></strong></p>
      <p><%= format_price(product.price) %></p>
      <p><%= product.description %></p>
      <p><%= product.stock %> Available</p>
      <p>Rating:<%= product.show_rating %></p>
    </div>
  </div>
</div>


<% end %>
<% end %>
</div>
