<h3>pEtsy</h3>

<!-- Needs data -->
<div class="top-margin">
  <h3>Products Offered</h3>
  <div class="caption">
    <% @products.each do |product| %>
    <%=image_tag(product.photo_url)%>
    <p><%= product.name %></p>
    <p>$<%= product.price %></p>
    <p><%= product.description %></p>
    <p><%= product.stock %> Available</p>
  </div>
  <div class="ratings">
    <p>Rating:<%= product.show_rating %></p>
  </div>
  <% end %>
</li>
</div>
