
<div class="top-margin">
  <h3>New Collection of Products</h3>
  <%= link_to root_path do %>
   <%= image_tag "cat.jpg", width:"200", height:"400", class: "pictures" %>
   <%= image_tag "dog_home.jpg", width:"200", height:"400", class:"pictures"%>
   <%= image_tag "reptile_home.jpg", width:"200", height:"400", class:"pictures"%>
<% end %>

  <% Product.by_pet_type.each do |pet_type, products| %>
  <h4><strong> <%= pet_type %> </strong></h4>

  <% products.each do |product| %>
  <div class="thumbnail">
    <div class="container-products">
      <%= link_to( image_tag(product.photo_url),  product_path(product)) unless product.photo_url.blank? %>
      <p><strong><%= link_to(product.name, product_path(product)) %></strong></p>
      <p><%= format_price(product.price) %></p>
      <p><%= product.description %></p>
      <p><%= product.stock %> Available</p>
      <span class="glyphicon glyphicon-star"></span>

      <p> Rating:
      <% if product.reviews.count == 0 %>
          No reviews
      <% else %>
          <%= render_stars(product.show_rating) %>
      <% end %>
      </p>

    </div>
  </div>
</div>


<% end %>
<% end %>
</div>
