<h3>pEtsy</h3>

<div class="top-margin">
  <h3>Products Offered</h3>
  <div class="caption">
    <% Product.by_pet_type.each do |pet_type, products| %>
    <h4><strong> <%= pet_type %> </strong></h4>
      <% products.each do |product| %>
      <%=image_tag(product.photo_url) unless product.photo_url.blank? %>

      <p><strong><%= link_to(product.name, product_path(product)) %></strong></p>

      <p><%= format_price(product.price) %></p>
      <p><%= product.description %></p>
      <p><%= product.stock %> Available</p>
    </div>
    <div class="ratings">
      <p>Rating:<%= product.show_rating %></p>
    </div>
    <% end %>
  <% end %>
</li>
</div>
