<div class="">

  <h2>Merchant: <%= link_to(@product.user_id, user_path) %></h2>

</div>

<div class="">
  <%=image_tag(@product.photo_url)%>
</div>

<div class="">
  <h2><%= @product.name %></h2>
  <h4><%= @product.convert_price %></h4>
  <p><%= @product.description %></p>
  <p><%= @product.stock %> Available</p>
  <p>Add to Cart</p>
</div>
