
<section>

  <%= form_for [@product,@review] do |f| %>

    <%= f.label :rating, "Rating (1-5)" %>
    <%= f.number_field :rating %>

    <%= f.label :comments, "Comments" %>
    <%= f.text_area :comments %>

    <%= f.submit action_name, class: "button" %>
  <% end %>

</section>
