<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="page-header">
    <nav>
      <div class="site-nav">
        <%= link_to "Home", root_path, class: "button" %>
        <%= "Browse dropdown menu bar" %>
          <%= link_to "All Products", products_path, class: "button" %>
          <%= link_to "All Category", categories_path, class: "button" %>
          <%= link_to "All Merchants", users_path, class: "button" %>
        <% if session[:user_id] %>
        <%= link_to "Log out", logout_path, method: "delete"   %>
        <% else %>
        <%= link_to "Login with Github", "/auth/github" %>
        <% end %>
      </div>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
